<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        @import '../static/css/style.css';
        @import '../static/css/style_main.css';

    </style>



   <nav class="menu">

    <div>
        <div class="main_them">

            <img src="../static/img/main.svg" class="main_svg">

            <h1>
                MediaCone
            </h1>

        </div>

    </div>
    <div class="block_list_tasks">
        <img src= "../static/img/list_grey.svg" class="list">
        <div class="list_tasks">
            <a href="/list_page">Список задач</a>
        </div>

    </div>
        <img src= "../static/img/check-mark_grey.svg" class="check_mark">
        <div class="pattern_block">
            <div class="pattern_text">
               <a href="/pattern_page">Шаблоны задач</a> 
            </div>
        </div>

    </div>

    <div>
        <img src="../static/img/group_grey.svg" class="people" >
        <div class="pattern_block">
            <div class="pattern_text">
                <a href="/group_page">Участники</a>
            </div>
        </div>



    </div>


    <div>
        <img src="../static/img/analis_grey.svg" class="analis" >
        <div class="pattern_block">
            <div class="pattern_text">
                <a href="/statistic_page">Статистика</a>
            </div>
        </div>



    </div>


   <div class="near_menu">
       
   </nav>

   <div>
       
    <h2 class="title">
        MediaCone
    </h2>
    <div class="under_title">
        Простая и удобная веб-система для управления проектами в сфере СМИ
    </div>

   <img src="../static/img/first.svg" class="first">
   <img src="../static/img/public.svg" class="public">
   <img src="../static/img/text.svg" class="text">
   </div>




   
</body>
</html>